html{
  margin:0px;
  padding:0px;
  font-family:'raleway';
}


body{
  color:#212121;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
