html{
    font-family:"raleway";
    color: #212121;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

brand{color: #212121;}

header{
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
        display:block;
        z-index:2;
}

.hero{
    margin-top:-50px;
}

.hero:after {
  
  content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.2 ease-in-out;
    transition: all 0.2 ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.hero:hover:after {
  opacity: 1;
}

.topsection{
    z-index:-1;
}