html{
    font-family:"raleway";
    color: #212121;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

brand{color: #212121;}

header{
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
        display:block;
        z-index:2;
}

.hero{
    margin-top:-50px;
}

.topsection{
    z-index:-1;
}