---
---

{% include head.html %}

<body class="w-100-l w-90 center">

<header class="mw8 ph4 pv3 center f5 fw6">
    <a class="no-underline" href="/">SEO Decider</brand></a>

    <div class="fr-l navigation w-100-s pv3 pv0-l">
    <a class="ma3-l mr2 no-underline" href="/about">About Us</a>
    <a class="ma3-l mr2 no-underline" href="/methodology">Research Methodology</a>
    <a class="ma3-l mr2 no-underline" href="#">Reviews</a>
    </div>

    </header>


<section class="bg-yellow black-70 ph5 cf relative topsection">
    <div class="mw8 ph4 center">
        <div class="f2 pv5 mb3">
            <span class="b">The best keyword research tool for most people</span> is one that's full of features, easy to use and reliable for both keyword research and competitive analysis.
        </div>
        </div>

</section>

<section class="mw8 ph4 center">
    <div class="ba br2 b--light-gray center bg-white h5 hero shadow-1">
        <div class="yellow f5 pa3 fw6">OUR PICK</div>
    </div>
</section>


{% include footer.html %}

{% include googleanalytics.html %}
