---
---

{% include head.html %}

<body class="w-100 center">

<header class="w-100">
    <div class="w-90 w-100-l mw8 ph4 pv3 center f5 fw6">
        <a class="no-underline" href="/">SEO Decider</a>

        <div class="fr-l navigation w-100-s pv3 pv0-l">
        <a class="ma3-l mr2 no-underline" href="/about">About Us</a>
        <a class="ma3-l mr2 no-underline" href="/methodology">Research Methodology</a>
        <a class="ma3-l mr2 no-underline" href="#">Reviews</a>
        </div>
    </div>


</header>


<section class="bg-yellow black-70 ph5-l ph2 cf relative topsection">
    <div class="mw8 ph4 center">
        <div class="f2-l f3 pv5 mb3">
            <span class="b">The best keyword research tool for most people</span> is one that's full of features, easy to use and reliable for both keyword research and competitive analysis.
        </div>
        </div>

</section>

<section class="mw8 ph4 center">
    <a href=""><div class="ba br2 b--light-gray center bg-white h5 hero shadow-1 pa3 relative">
        <div class="yellow f5 pa3 fw6">OUR PICK</div>
        <div class="f3">SEMrush</div>
        <div class="f4">With tons of features, the most robust dataset we tested, strong on keyword research and competitive analysis all for a good price SEMrush is our pick for the best keyword research tool for most cases.
        </div>

    </div></a>
</section>


{% include footer.html %}

{% include googleanalytics.html %}
