

<header class="w-100">
    <div class="w-90 w-100-l mw8 ph4-l pv3 center f5 fw6">
        <a class="no-underline" href="/">SEO Decider</a>

        <div class="fr-l navigation w-100-s pv3 pv0-l fw3">
        <a class="ma3-l mr2 no-underline relative pl2-l pr2-l" href="#">Reviews</a>
        <a class="ma3-l mr2 no-underline relative pl2-l pr2-l" href="/methodology">Research Methodology</a>
        <a class="ma3-l mr2 no-underline relative pl2-l pr2-l" href="/about">About Us</a>
        </div>
    </div>


</header>