<!--From head include-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}SEO Decider{% endif %}</title>
    <meta name="description" content="SEO Decider">

<link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,300,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic' rel='stylesheet' type='text/css'>


<!-- ‡ !-->


<link href="/css/tachyons.min.css" rel="stylesheet">

<link href="/css/all.css" rel="stylesheet">
<link href="/css/mobile.css" rel="stylesheet">


<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width">

<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />

</head>
<body class="w-100 center">
